* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
  background: #f4f7ff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #2563eb;
}

.navbar nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.signup {
  padding: 8px 16px;
  background: #2563eb;
  color: white !important;
  border-radius: 6px;
}

/* HERO SECTION */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
  background: linear-gradient(135deg, #f8faff, #eef2ff);
  min-height: 90vh;
}


.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 44px;
  margin-bottom: 20px;
  color: #111;
}

.hero-text span {
  color: #2563eb;
}

.hero-text p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.hero-text button {
  padding: 14px 28px;
  font-size: 16px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.hero-image img {
  width: 380px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}
   
.search-box {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.search-box input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 180px;
}

.search-box button {
  padding: 12px 20px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
}
