/*.footer {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}*/
.footer {
  text-align: center;
  padding: 20px;
  background: #f9fafb;
  color: #6b7280;
  margin-top: 60px;
}